.block-openy-map {
  font-family: var(--ylb-font-family-cachet); }
  .block-openy-map .openy-map-wrapper {
    margin-bottom: 40px; }
    .block-openy-map .openy-map-wrapper .marker_tooltip {
      font-size: 15px; }
      .block-openy-map .openy-map-wrapper .marker_tooltip .card {
        border: none; }
      .block-openy-map .openy-map-wrapper .marker_tooltip .card-body {
        padding: 0; }
      .block-openy-map .openy-map-wrapper .marker_tooltip .type,
      .block-openy-map .openy-map-wrapper .marker_tooltip .card-footer {
        display: none; }
  .block-openy-map .form-control {
    height: auto;
    border-radius: var(--wsBorderRadius, unset);
    font-size: 18px;
    line-height: 22px; }
  .block-openy-map .map_controls {
    background-color: var(--wsPrimaryColor, lightgrey);
    color: var(--ylb-color-white, white);
    padding: 40px 0 20px; }
    @media (min-width: 768px) {
      .block-openy-map .map_controls {
        padding: 20px 0; } }
    .block-openy-map .map_controls .form-group label {
      text-transform: uppercase; }
    .block-openy-map .map_controls .zip-code .form-control {
      padding: 14.5px 22.5px;
      border: 1px solid var(--ylb-color-light-grey-3, lightgray); }
    .block-openy-map .map_controls .zip-code .btn {
      background-color: var(--ylb-color-white, white);
      color: var(--wsTertiaryColor, black);
      border: 1px solid var(--ylb-color-light-grey-3, lightgray);
      border-left: none;
      border-top-right-radius: var(--wsBorderRadius, unset);
      border-bottom-right-radius: var(--wsBorderRadius, unset); }
    .block-openy-map .map_controls .distance select {
      padding: 14.5px 18.5px;
      background: white url(../img/arrow_down.svg) no-repeat right 20px center;
      background-size: 14px;
      font-family: var(--ylb-font-family-verdana); }
    @media (max-width: 767.98px) {
      .block-openy-map .map_controls .tags-and-amenities {
        margin-top: 40px; }
        .block-openy-map .map_controls .tags-and-amenities .tags-filters-col {
          border-bottom: 1px solid var(--ylb-color-white, white);
          padding-bottom: 10px;
          margin-bottom: 20px; } }
    .block-openy-map .map_controls .tag_filters .btn {
      font-size: 18px;
      padding: 6px 20px;
      margin-right: 30px;
      color: var(--ylb-color-white, white);
      background-color: rgba(var(--wsSecondaryColorRGB, 0, 0, 0), 0.3);
      border-radius: var(--wsBorderRadius, unset);
      text-transform: none; }
      @media (max-width: 767.98px) {
        .block-openy-map .map_controls .tag_filters .btn {
          margin-bottom: 20px; } }
      .block-openy-map .map_controls .tag_filters .btn input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
             appearance: none; }
      .block-openy-map .map_controls .tag_filters .btn img {
        height: 20px;
        display: none; }
      .block-openy-map .map_controls .tag_filters .btn:last-child {
        margin-right: 0; }
      .block-openy-map .map_controls .tag_filters .btn.active {
        color: var(--ylb-color-dark-grey-1, darkgray);
        background-color: var(--ylb-color-white, white); }
        .block-openy-map .map_controls .tag_filters .btn.active img {
          display: inline-block; }
      .block-openy-map .map_controls .tag_filters .btn:hover, .block-openy-map .map_controls .tag_filters .btn:focus-within {
        outline: 5px auto Highlight;
        outline: 5px auto -webkit-focus-ring-color; }
    .block-openy-map .map_controls .amenities-filter-control {
      font-size: 18px;
      line-height: 28px;
      font-family: var(--ylb-font-family-verdana);
      border: none;
      text-transform: initial; }
      .block-openy-map .map_controls .amenities-filter-control .fas {
        font-size: 15px;
        line-height: 26px;
        margin-left: 10px;
        vertical-align: bottom; }
  .block-openy-map #amenities-filter {
    font-family: var(--ylb-font-family-medium);
    width: 100%;
    z-index: 10;
    background-color: var(--ylb-color-white, white);
    color: var(--ylb-color-black, black); }
    .block-openy-map #amenities-filter .row {
      padding: 40px 0; }
      @media (max-width: 767.98px) {
        .block-openy-map #amenities-filter .row {
          padding: 20px; } }
    .block-openy-map #amenities-filter .amenities-plain-list {
      font-family: var(--ylb-font-family-verdana);
      display: table-column;
      list-style: none;
      padding: 10px;
      -moz-columns: 5;
           columns: 5; }
      @media (max-width: 1199.98px) {
        .block-openy-map #amenities-filter .amenities-plain-list {
          -moz-columns: 4;
               columns: 4; } }
      @media (max-width: 991.98px) {
        .block-openy-map #amenities-filter .amenities-plain-list {
          -moz-columns: 3;
               columns: 3; } }
      @media (max-width: 767.98px) {
        .block-openy-map #amenities-filter .amenities-plain-list {
          -moz-columns: 1;
               columns: 1; } }
      .block-openy-map #amenities-filter .amenities-plain-list li {
        -moz-column-break-inside: avoid;
             break-inside: avoid-column;
        display: inline-block;
        margin-top: 0.175em; }
    @media (max-width: 767.98px) {
      .block-openy-map #amenities-filter .amenities-group {
        border-bottom: 1px solid var(--ylb-color-light-grey-3, lightgray);
        padding-left: 30px; } }
    .block-openy-map #amenities-filter .amenities-group .group-header {
      font-family: var(--ylb-font-family-verdana);
      font-size: 15px;
      text-transform: uppercase;
      line-height: 26px;
      margin-bottom: 21px; }
    .block-openy-map #amenities-filter .amenities-group ul {
      font-family: var(--ylb-font-family-verdana);
      margin-bottom: 20px; }
    .block-openy-map #amenities-filter .amenities-group header {
      font-family: var(--ylb-font-family-verdana);
      font-size: 15px;
      position: relative; }
      @media (min-width: 768px) {
        .block-openy-map #amenities-filter .amenities-group header {
          margin-bottom: 20px; }
          .block-openy-map #amenities-filter .amenities-group header i {
            display: none; } }
      @media (max-width: 767.98px) {
        .block-openy-map #amenities-filter .amenities-group header {
          padding: 20px 0; }
          .block-openy-map #amenities-filter .amenities-group header i {
            display: block;
            position: absolute;
            right: 0;
            top: 24px; } }
    .block-openy-map #amenities-filter ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      .block-openy-map #amenities-filter ul li label {
        cursor: pointer;
        line-height: 1.1;
        position: relative;
        display: grid;
        grid-template-columns: 1em auto;
        gap: 1em;
        margin-top: 0.2em;
        margin-bottom: calc(20px - 0.2em); }
        .block-openy-map #amenities-filter ul li label input[type="checkbox"] {
          -webkit-appearance: none;
             -moz-appearance: none;
                  appearance: none;
          /* For iOS < 15 to remove gradient background */
          background-color: #fff;
          /* Not removed via appearance */
          margin: 0;
          font: inherit;
          color: currentColor;
          width: 1.5em;
          height: 1.5em;
          border: 0.1em solid var(--ylb-color-light-grey-3, lightgray);
          border-radius: 0.25em;
          transform: translateY(-0.175em);
          display: grid;
          place-content: center; }
        .block-openy-map #amenities-filter ul li label input[type="checkbox"]::before {
          content: "";
          width: 0.85em;
          height: 0.85em;
          transform: scale(0);
          transition: 120ms transform ease-in-out;
          box-shadow: inset 1em 1em 0 0 var(--ylb-color-white, white);
          transform-origin: bottom left;
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
          /* Windows High Contrast Mode */
          background-color: CanvasText; }
        .block-openy-map #amenities-filter ul li label input[type="checkbox"]:checked {
          background-color: var(--wsPrimaryColor, blue); }
          .block-openy-map #amenities-filter ul li label input[type="checkbox"]:checked::before {
            transform: scale(1); }
          .block-openy-map #amenities-filter ul li label input[type="checkbox"]:checked:focus {
            outline: 5px auto Highlight;
            outline: 5px auto var(--wsPrimaryColor, -webkit-focus-ring-color);
            outline-offset: calc(max(2px, 0.15em)); }
  .block-openy-map .selected-amenities {
    padding: 0 10px; }
    .block-openy-map .selected-amenities .btn {
      width: -moz-fit-content;
      width: fit-content;
      margin-right: 25px;
      line-height: 28px;
      background-color: var(--ylb-color-light-grey-1, lightgray);
      border-radius: var(--wsBorderRadius, unset);
      text-transform: none;
      padding: 1px 15px;
      margin-bottom: 15px; }
      @media (max-width: 767.98px) {
        .block-openy-map .selected-amenities .btn {
          margin-bottom: 30px; } }
      .block-openy-map .selected-amenities .btn input {
        display: none; }
      .block-openy-map .selected-amenities .btn i.fas {
        padding-left: 15px; }
      .block-openy-map .selected-amenities .btn:hover, .block-openy-map .selected-amenities .btn:focus {
        outline: 5px auto Highlight;
        outline: 5px auto var(--wsPrimaryColor, -webkit-focus-ring-color); }
  .block-openy-map .locations-list-lb .location-title {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 49px;
    line-height: 60px;
    width: 100%; }
    .block-openy-map .locations-list-lb .location-title--wrapper {
      justify-content: start;
      display: flex; }
      @media (max-width: 767.98px) {
        .block-openy-map .locations-list-lb .location-title--wrapper {
          justify-content: center; }
          .block-openy-map .locations-list-lb .location-title--wrapper header {
            width: 100%;
            max-width: 330px; } }
  .block-openy-map .locations-list-lb .views-row {
    display: flex;
    justify-content: center; }
    .block-openy-map .locations-list-lb .views-row .fa-clock,
    .block-openy-map .locations-list-lb .views-row .fa-phone {
      color: var(--wsTertiaryColor, black); }
    .block-openy-map .locations-list-lb .views-row .node {
      max-width: 330px;
      width: 100%;
      font-size: 18px;
      border-radius: var(--wsBorderRadius, unset);
      background-color: var(--ylb-color-white, white);
      border: var(--wsBorderStyle, none);
      box-shadow: var(--wsBoxShadow, none);
      font-family: var(--ylb-font-family-verdana); }
      .block-openy-map .locations-list-lb .views-row .node .card-body h2 {
        font-size: 30px;
        line-height: 32px;
        margin-bottom: 23px;
        font-family: var(--ylb-font-family-cachet); }
        .block-openy-map .locations-list-lb .views-row .node .card-body h2 a {
          color: var(--wsPrimaryColor, blue); }
      .block-openy-map .locations-list-lb .views-row .node .card-body .type {
        text-transform: uppercase;
        color: var(--ylb-color-dark-grey-1, darkgray);
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px; }
        .block-openy-map .locations-list-lb .views-row .node .card-body .type img {
          height: 17.5px;
          margin-right: 10px;
          display: none; }
        .block-openy-map .locations-list-lb .views-row .node .card-body .type svg {
          margin-right: 6px; }
      .block-openy-map .locations-list-lb .views-row .node .card-body .node__content {
        padding: 0; }
        .block-openy-map .locations-list-lb .views-row .node .card-body .node__content a {
          text-decoration: underline; }
        .block-openy-map .locations-list-lb .views-row .node .card-body .node__content address {
          margin-bottom: 0; }
          .block-openy-map .locations-list-lb .views-row .node .card-body .node__content address .fa-map-marker-alt {
            display: none; }
        .block-openy-map .locations-list-lb .views-row .node .card-body .node__content .directions {
          margin-bottom: 20px;
          padding-left: 25px; }
          .block-openy-map .locations-list-lb .views-row .node .card-body .node__content .directions a {
            color: var(--wsPartnerColor, blue); }
        .block-openy-map .locations-list-lb .views-row .node .card-body .node__content .phone {
          font-size: 18px;
          line-height: 28px;
          letter-spacing: -1px;
          margin-bottom: 20px; }
          .block-openy-map .locations-list-lb .views-row .node .card-body .node__content .phone svg {
            margin-right: 6px; }
          .block-openy-map .locations-list-lb .views-row .node .card-body .node__content .phone .field-location-phone {
            display: inline; }
            .block-openy-map .locations-list-lb .views-row .node .card-body .node__content .phone .field-location-phone a {
              font-weight: normal;
              color: var(--wsPartnerColor, blue); }
        .block-openy-map .locations-list-lb .views-row .node .card-body .node__content .hours {
          display: flex;
          align-items: flex-start; }
          .block-openy-map .locations-list-lb .views-row .node .card-body .node__content .hours svg {
            margin-right: 6px;
            margin-top: 6px; }
        .block-openy-map .locations-list-lb .views-row .node .card-body .node__content .field-branch-hours h4 {
          display: none; }
      .block-openy-map .locations-list-lb .views-row .node .card-footer {
        background-color: transparent; }
        .block-openy-map .locations-list-lb .views-row .node .card-footer .btn {
          text-transform: none;
          font-size: 18px;
          line-height: 22px; }
          .block-openy-map .locations-list-lb .views-row .node .card-footer .btn .fa {
            color: inherit; }
          .block-openy-map .locations-list-lb .views-row .node .card-footer .btn:hover .fa {
            color: inherit; }
  .block-openy-map.ws-border-style--solid .locations-list-lb .views-row .node {
    box-shadow: var(--ylb-border-style-none, none);
    border: var(--ylb-border-style-solid, none); }
  .block-openy-map.ws-border-style--drop-shadow .locations-list-lb .views-row .node {
    box-shadow: var(--ylb-border-style-drop-shadow, none);
    border: var(--ylb-border-style-none, none); }
  .block-openy-map.ws-border-style--none .locations-list-lb .views-row .node {
    box-shadow: var(--ylb-border-style-none, none);
    border: var(--ylb-border-style-none, none); }
