@import "_functions";
@import "_mixins";
@import "_variables";

.block-openy-map {
  font-family: var(--ylb-font-family-cachet);
  .openy-map-wrapper {
    margin-bottom: 40px;
    .marker_tooltip {
      font-size: 15px;
      .card {
        border: none;
      }
      .card-body {
        padding: 0;
      }
      .type,
      .card-footer {
        display: none;
      }
    }
  }
  .form-control {
    height: auto;
    border-radius: var(--wsBorderRadius, unset);
    font-size: 18px;
    line-height: 22px;
  }

  .map_controls {
    background-color: var(--wsPrimaryColor, lightgrey);
    color: var(--ylb-color-white, white);
    padding: 40px 0 20px;
    @include media-breakpoint-up(md){
      padding: 20px 0;
    }

    .form-group {
      label {
        text-transform: uppercase;
      }
    }
    .zip-code {
      .form-control {
        padding: 14.5px 22.5px;
        border: 1px solid var(--ylb-color-light-grey-3, lightgray);
      }
      .btn {
        background-color: var(--ylb-color-white, white);
        color: var(--wsTertiaryColor, black);
        border: 1px solid var(--ylb-color-light-grey-3, lightgray);
        border-left: none;
        border-top-right-radius: var(--wsBorderRadius, unset);
        border-bottom-right-radius: var(--wsBorderRadius, unset);
      }
    }
    .distance {
      select {
        padding: 14.5px 18.5px;
        background: white url(../img/arrow_down.svg) no-repeat right 20px center;
        background-size: 14px;
        font-family: var(--ylb-font-family-verdana);
      }
    }
    .tags-and-amenities {
      @include media-breakpoint-down(sm){
        margin-top: 40px;
        .tags-filters-col {
          border-bottom: 1px solid var(--ylb-color-white, white);
          padding-bottom: 10px;
          margin-bottom: 20px;
        }
      }

    }

    .tag_filters {
      .btn {
        font-size: 18px;
        padding: 6px 20px;
        margin-right: 30px;
        @include media-breakpoint-down(sm){
          margin-bottom: 20px;
        }
        color: var(--ylb-color-white, white);
        background-color: rgba(var(--wsSecondaryColorRGB, 0, 0, 0), 0.3);
        border-radius: var(--wsBorderRadius, unset);
        text-transform: none;
        input[type="checkbox"] {
          -webkit-appearance: none;
          appearance: none;
        }
        img {
          height: 20px;
          display: none;
        }
        &:last-child {
          margin-right: 0;
        }
        &.active {
          color: var(--ylb-color-dark-grey-1, darkgray);
          background-color: var(--ylb-color-white, white);
          img {
            display: inline-block;
          }
        }
        &:hover,
        &:focus-within {
          outline: 5px auto Highlight;
          outline: 5px auto -webkit-focus-ring-color;
        }
      }
    }
    .amenities-filter-control {
      font-size: 18px;
      line-height: 28px;
      font-family: var(--ylb-font-family-verdana);
      border: none;
      text-transform: initial;

      .fas {
        font-size: 15px;
        line-height: 26px;
        margin-left: 10px;
        vertical-align: bottom;
      }
    }
  }

  #amenities-filter {
    font-family: var(--ylb-font-family-medium);
    width: 100%;
    z-index: 10;
    background-color: var(--ylb-color-white, white);
    color: var(--ylb-color-black, black);
    .row {
      padding: 40px 0;
      @include media-breakpoint-down(sm){
        padding: 20px;
      }
    }
    .amenities-plain-list {
      font-family: var(--ylb-font-family-verdana);
      display: table-column;
      list-style: none;
      padding: 10px;
      columns: 5;
      @include media-breakpoint-down(lg){
        columns: 4;
      }
      @include media-breakpoint-down(md){
        columns: 3;
      }
      @include media-breakpoint-down(sm){
        columns: 1;
      }

      li {
        break-inside: avoid-column;
        display: inline-block;
        margin-top: 0.175em;
      }
    }
    .amenities-group {
      @include media-breakpoint-down(sm){
        border-bottom: 1px solid var(--ylb-color-light-grey-3, lightgray);
        padding-left: 30px;
      }
      .group-header {
        font-family: var(--ylb-font-family-verdana);
        font-size: 15px;
        text-transform: uppercase;
        line-height: 26px;
        margin-bottom: 21px;
      }
      ul {
        font-family: var(--ylb-font-family-verdana);
        margin-bottom: 20px;
      }
      header {
        font-family: var(--ylb-font-family-verdana);
        font-size: 15px;
        position: relative;
        @include media-breakpoint-up(md){
          margin-bottom: 20px;
          i {
            display: none;
          }
        }

        @include media-breakpoint-down(sm){
          padding: 20px 0;
          i {
            display: block;
            position: absolute;
            right: 0;
            top: 24px;
          }
        }
      }
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        label {
          cursor: pointer;
          line-height: 1.1;
          position: relative;
          display: grid;
          grid-template-columns: 1em auto;
          gap: 1em;
          // Adjust the top margin by the input translation so the top isn't cut off.
          margin-top: 0.175em;
          margin-bottom: calc(20px - 0.175em);
          // Checkbox styles via https://moderncss.dev/pure-css-custom-checkbox-style/
          input[type="checkbox"] {
            appearance: none;
            /* For iOS < 15 to remove gradient background */
            background-color: #fff;
            /* Not removed via appearance */
            margin: 0;
            font: inherit;
            color: currentColor;
            width: 1.5em;
            height: 1.5em;
            border: 0.1em solid var(--ylb-color-light-grey-3,lightgray);
            border-radius: 0.25em;
            transform: translateY(-0.175em);
            display: grid;
            place-content: center;
          }
          input[type="checkbox"]::before {
            content: "";
            width: 0.85em;
            height: 0.85em;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em 0 0 var(--ylb-color-black, black);
            transform-origin: bottom left;
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);

            /* Windows High Contrast Mode */
            background-color: CanvasText;
          }
          input[type="checkbox"]:checked::before {
            transform: scale(1);
          }
          input[type="checkbox"]:focus {
            outline: 5px auto Highlight;
            outline: 5px auto var(--wsPrimaryColor, -webkit-focus-ring-color);
            outline-offset: calc(max(2px, 0.15em));
          }
        }
      }
    }
  }
  .selected-amenities {
    padding: 0 10px;
    .btn {
      width: fit-content;
      margin-right: 25px;
      line-height: 28px;
      background-color: var(--ylb-color-light-grey-1, lightgray);
      border-radius: var(--wsBorderRadius, unset);
      text-transform: none;
      padding: 1px 15px;
      margin-bottom: 15px;
      @include media-breakpoint-down(sm){
        margin-bottom: 30px;
      }
      input {
        display: none;
      }

      i.fas {
        padding-left: 15px;
      }

      &:hover,
      &:focus {
        outline: 5px auto Highlight;
        outline: 5px auto var(--wsPrimaryColor, -webkit-focus-ring-color);
      }
    }
  }
  .locations-list-lb {
    .location-title {
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: 49px;
      line-height: 60px;
    }
    .views-row {
      .fa-clock,
      .fa-phone {
        color: var(--wsTertiaryColor, black);
      }
      .node {
        max-width: 330px;
        width: 100%;
        font-size: 18px;
        border-radius: var(--wsBorderRadius, unset);
        background-color: var(--ylb-color-white, white);
        border: var(--wsBorderStyle , none);
        box-shadow: var(--wsBoxShadow, none);
        font-family: var(--ylb-font-family-verdana);
        .card-body {
          h2 {
            font-size: 30px;
            line-height: 32px;
            margin-bottom: 23px;
            font-family: var(--ylb-font-family-cachet);
            a {
              color: var(--wsPrimaryColor, blue);
            }
          }
          .type {
            text-transform: uppercase;
            color: var(--ylb-color-dark-grey-1, darkgray);
            margin-bottom: 20px;
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
            img {
              height: 17.5px;
              margin-right: 10px;
              display: none;
            }
            svg {
              margin-right: 6px;
            }
          }
          .node__content {
            padding: 0;
            a {
              text-decoration: underline;
            }
            address {
              margin-bottom: 0;
              .fa-map-marker-alt {
                display: none;
              }
            }

            .directions {
              margin-bottom: 20px;
              padding-left: 25px;
              a {
                color: var(--wsPartnerColor, blue);
              }
            }
            .phone {
              font-size: 18px;
              line-height: 28px;
              letter-spacing: -1px;
              margin-bottom: 20px;

              svg {
                margin-right: 6px;
              }
              .field-location-phone {
                display: inline;
                a {
                  font-weight: normal;
                  color: var(--wsPartnerColor, blue);
                }
              }
            }
            .hours {
              display: flex;
              align-items: flex-start;

              svg {
                margin-right: 6px;
                margin-top: 6px;
              }
            }
            .field-branch-hours {
              h4 {
                display: none;
              }
            }
          }
        }
        .card-footer {
          background-color: transparent;
          .btn {
            text-transform: none;
            font-size: 18px;
            line-height: 22px;
            .fa {
              color: inherit;
            }
            &:hover {
              .fa {
                color: inherit;
              }
            }
          }
        }
      }
    }

  }

  // WS Style component-level adjustments.
  // - Border style.
  &.ws-border-style--solid {
    .locations-list-lb {
      .views-row {
        .node {
          box-shadow: var(--ylb-border-style-none, none);
          border: var(--ylb-border-style-solid, none);
        }
      }
    }
  }

  &.ws-border-style--drop-shadow {
    .locations-list-lb {
      .views-row {
        .node {
          box-shadow: var(--ylb-border-style-drop-shadow, none);
          border: var(--ylb-border-style-none, none);
        }
      }
    }
  }

  &.ws-border-style--none {
    .locations-list-lb {
      .views-row {
        .node {
          box-shadow: var(--ylb-border-style-none, none);
          border: var(--ylb-border-style-none, none);
        }
      }
    }
  }
}
